// Preload content that don't need any external css
// It's used as a splash screen while js and css are loading
style(type='text/css')
  include styles.css
script(type='text/javascript')
  include scripts.js
