html
  head
    link(rel='stylesheet' type='text/css', href='/index.css')
  body
    script(type='text/javascript', src='/index.bundle.js')
    script(type='text/javascript').
      angular.bootstrap( document.body, [ syn.ui.angular.getModule().name ] )
