$_spacing: $syn-nav-stack-spacing;

@mixin syn-nav-stacked-cursor {
  &:before {
    display: block;
    position: absolute;
    width: 3px;
    top: 0;
    bottom: 0;
    left: 0;
    background: $syn-nav-stack-hover-color;
    content: " ";
  }
}

.syn-nav-stacked {
  display: block;
  background: $syn-nav-stack-bg;
  font-size: $syn-nav-stack-fz;

  &, ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &_button {
    position: relative;
    color: $syn-nav-stack-color;

    &.-active > .syn-nav-stacked_label {
      @include syn-nav-stacked-cursor;
      background: rgba( $syn-nav-stack-color, .08 );
      color: $syn-nav-stack-hover-color;
    }
  }

  &_label {
    display: block;
    position: relative;
    padding: $_spacing*.75 $_spacing;
    border-bottom: 1px solid #555;
    line-height: 1.4rem;

    &:hover {
      background: rgba( $syn-nav-stack-color, .08 );
    }

    &.-level-1 { padding-left: $_spacing*1.5; }
    &.-level-2 { padding-left: $_spacing*2; }
    &.-level-3 { padding-left: $_spacing*2.5; }
  }
}

.syn-nav-stacked--compact {

  .syn-nav-stacked_label {
    &.-level-0, &.-level-1, &.-level-2 {
      padding-left: $_spacing;
    }

    &.-level-0 {
      font-size: 1em;
      font-weight: bold;
    }
  }

  .syn-nav-stacked_sub {
    background: $syn-nav-stack-bg;

    &.-level-1 {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;

      .syn-nav-stacked_button {
        float: right;
      }

      .syn-nav-stacked_label {
        min-width: 45px;
        padding-left: $_spacing/4;
        padding-right: $_spacing/4;
        border-left: 1px solid #555;
        font-size: .8rem;
        text-align: center;
        text-transform: uppercase;
      }
    }

    &.-level-2, &.-level-3 {
      display: none;
    }
  }
}
