// Main brand color
$c-brand: #ffbd13 !default;

// Color to contrast on brand colors
$c-brand-contrast: #fff !default;

// Font-size for root element (ref for rems)
$fz-root: 10px !default;

// Base value for all spacings
$spacing: 2rem !default;
