.syn-ui-header_user
  img.syn-ui-header_user_img( ng-src="{{ user.img }}" )
  .syn-ui-header_user_text
    .syn-ui-header_user_title {{ user.title }}
    .syn-ui-header_user_subtitle {{ user.subtitle }}
